/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

/* BODY */

body{

background:#0f172a;
color:white;
min-height:100vh;
display:flex;
justify-content:center;
padding:30px;

}

/* CONTAINER */

.container{

width:100%;
max-width:1100px;

}

/* TITLE */

h1{

text-align:center;
margin-bottom:10px;
font-size:32px;

}

.subtitle{

text-align:center;
margin-bottom:25px;
color:#cbd5e1;

}

/* CARD */

.card{

background:#1e293b;
padding:20px;
border-radius:12px;
margin-bottom:20px;

}

/* FORM ROW (PH & SUHU TENGAH) */

.form-row{

display:flex;
justify-content:center;
gap:30px;
margin-top:15px;
flex-wrap:wrap;

}

/* FORM GROUP */

.form-group{

display:flex;
flex-direction:column;
align-items:center;
gap:6px;

}

.form-group-center{

display:flex;
flex-direction:column;
align-items:center;
margin-top:20px;
gap:6px;

}

/* INPUT */

input, select{

padding:10px;
border-radius:8px;
border:none;
outline:none;
font-size:14px;

}

/* INPUT KHUSUS */

.input-small{
width:160px;
text-align:center;

}

/* BUTTON */

button{
margin-top:20px;
display:block;
margin-left:auto;
margin-right:auto;
padding:12px 22px;
background:#22c55e;
border:none;
border-radius:8px;
font-size:16px;
font-weight:bold;
cursor:pointer;
transition:0.2s;
}

button:hover{
background:#16a34a;
}

/* RESULT GRID */

.result-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

/* CHART */

.chart-container{
width:100%;
height:320px;
}

.chart-container canvas{
max-height:320px;
}

/* RANKING */

#ranking{
display:flex;
flex-direction:column;
gap:10px;
}

.ranking-item{
display:flex;
justify-content:space-between;
align-items:center;
background:#0f172a;
padding:12px;
border-radius:8px;
border-left:5px solid #22c55e;
}

/* RANKING NUMBER */

.ranking-item b{
font-size:16px;
}

/* RESPONSIVE */

@media (max-width:768px){
.result-grid{
grid-template-columns:1fr;
}

.chart-container{
height:260px;
}
}
